 
.jelly-blob {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;  
  border-color: black;
  border-radius: 75px;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin:   50% 50%;
  -o-transform-origin:      50% 50%;
  -ms-transform-origin:   50% 50%;
  transform-origin:       50% 50%;
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform:  translate(-50%, -50%);
  -o-transform:    translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform:      translate(-50%, -50%);
  
  
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}
/* Text Inside Jelly Blob */
.inside-text {
  width: 100%;
  opacity: 1;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.container-div {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.jelly-blob {
  position: fixed;
  width: 100px;
  height: 100px;
  background: rgba(0, 255, 234, 0.2);
  border-radius: 50%;
  pointer-events: none;
}

.mouse-arrow {
  position: absolute;
  font-size: 24px;
  color: #00ffea;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.container-div {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}
/* Hover text */
.mouse-text {
  position: fixed;
  top: 0;
  left: 0;
  color: #3d232a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  scale: 0;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0 0 10px #00ffea, 0 0 20px rgba(0, 255, 234, 0.5);
}
